.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    top: -100px;
    z-index: 1;
}

.video-container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.video-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    z-index: 2;
}

.video-container video{
    width: 100%;
    height: 100%;
    object-fit:cover; 
    object-position: 0% 65%;
}

.video-container h2{
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-align: center;
    z-index: 3;
    animation: fadeIn 4s;
}

.video-container p{
    position: absolute;
    top: 45%;
    left: 29%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    z-index: 3;
    animation: fadeIn 4s;
}

.food-category{
    z-index: 10001;
    position: absolute;
    top: 65%;
    left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: rgba(17, 14, 14, 0.303);
    padding: 30px;
    border-radius: 50px;
    animation: fadeIn 4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
    backdrop-filter: blur(4px);
}

.food-category-card img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.food-category-card h3{
    color: white;
    font-weight: 500;
    font-size: large;
    text-align: center;
    margin-top: 10px;
}


#active{
    transform: scale(1.1);
    border: 4px outset rgb(255, 38, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
