.navbar {
    margin-top: 20px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbarMenu{
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 1rem;
    
}

.navbarMenu li {
    cursor: pointer;
    font-size: 1.2rem;
}

.logo{
    width: 150px;
    height: auto;
    cursor: pointer;
}

.navbarRight{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.signIn{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #ffffff;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.navbarRight .signIn:hover {
    background-color: #a86a6a;
}

.navbarRight img{
    cursor: pointer;
}

.navbarMenu .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #a86a6a;
}

.navbarSearchIcon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: 40px;
    right: 270px;
}